$basicColor: #FF9559;
$whiteColor:#fff;
$graybg: #C9C9C9;
$blackcolor:#000;
.stepperwrap{
  //color: ($basicColor) ;
  .MuiStep-root{
    .MuiSvgIcon-root{
      width: 50px;
      height: 50px;
    }
    .MuiStepLabel-label{
      font-size: 18px;
    }
    .css-zpcwqm-MuiStepConnector-root{
      top:24px
    }
  }
}

@mixin btndesign{
  padding: 14px 22px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  box-shadow: none;
}
.stepouter{
  .nextbtn, .backbtn{
    background-color: ($basicColor);
    color: $whiteColor;
    @include btndesign;
    &:hover{
      background: ($basicColor);
      color: $whiteColor;
      @include btndesign;
    }
  }
  .backbtn{
    &:disabled{
      @include btndesign;
      background-color: ($graybg);
      color: $whiteColor;
      &:hover{
        background: ($graybg);
        color: $whiteColor;
        @include btndesign;
      }
    }
  }
}
button.deletebtn {
  @include btndesign;
  background-color: ($graybg);
  color: ($blackcolor);
  &:hover{
    background-color: ($graybg);
    color: ($blackcolor);
  }
}

.notification-container {
  background: #FEE;
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

mark {
  color: red;
  background: none !important;
}

.close-icon {
  cursor: pointer;
}

.css-zpcwqm-MuiStepConnector-root {
  left: calc(-54% + 36px) !important;
  right: calc(46% + 37px) !important;
}

.mobile-next-btn {
  font-size: 14px !important;
  padding: 10px 14px !important;
}



.stepperwrap-mobile .Mui-active .css-z7uhs0-MuiStepConnector-line {
  border-top: 4px dotted ($basicColor) !important;
}
.stepperwrap-mobile .Mui-completed .css-z7uhs0-MuiStepConnector-line {
  border-top: 4px dotted ($basicColor) !important;
}

.stepperwrap-mobile .css-ascpo7-MuiStepLabel-root {
  max-width: 1rem;
}

.stepperwrap-mobile .MuiSvgIcon-root {
    height: 1.8rem !important;
    width: 1.8rem !important;
}
.stepperwrap-mobile .MuiSvgIcon-root .css-1hv8oq8-MuiStepLabel-label{
  display: none;
}

.stepperwrap-mobile .css-zpcwqm-MuiStepConnector-root {
  top: 13px!important;
  width: 30px !important;
  left: calc(-73% + 36px) !important;
  right: calc(28% + 37px) !important;
  color: lightgray !important;
  z-index: 100
}
.stepperwrap-mobile .css-z7uhs0-MuiStepConnector-line {
  border-top: 4px dotted !important;
 }

.stepperwrap-mobile .css-1vyamtt-MuiStepLabel-labelContainer.MuiStepLabel-alternativeLabel {
  z-index: 1000;
  position: absolute;
  margin-top: 1rem;
}

