$borderColor: #D8D8D8;
.detailHeading{
  text-align: center;
  position: relative;
  margin:2rem -1rem;
}
.detailHeading-dashed {
    content:'';
    border: 2px dashed ($borderColor);
    transform: translateY(-50%);
    width: 136px;
    height: 0rem;
    margin-top: 1.5rem;
}

.dashed-1 {
  margin-right: 1rem;
}

.dashed-2 {
  margin-left: 1rem;
}