.main-dialog-list-container {
  padding-left: 1.3rem;
  height: 10rem;
  overflow-y: scroll;
}

.dialog-list-container {
  height: 2.5rem;
}

.dialog-list-input {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 0.8rem;
}

.dialog-list-item {
  font-size: 1.1rem;
}

.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 34rem;
  border-radius: 1.2rem;
}

.button-container {
  margin-left: 1rem;
  gap:1rem
}

.eminent-update-button {
  margin-left: 0rem;
}

.eminent-cancel-button {
  margin-left: 0rem;
}