.allot-card-container {
  display: flex;
  align-items: center;
  height: 150px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 1px 1px 27px 0px #00000017;
}
.allotassign-checkbox .css-i4bv87-MuiSvgIcon-root {
  width: 35px;
  height: 35px;
}

.Mui-checked {
  color: #ff9559 !important;
}

.allot-b1 {
  display: flex;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon-rect {
  height: inherit;
  width: inherit;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.allot-b2 {
  display: flex;
  flex-direction: column;
  width: 92%;
  padding-left: 27px;
  padding-right: 5%;
  padding-top: 18px;
}
.allot-c1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed grey;
  padding-top: 10px;
}

.allot-c2 {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.card-cell3 {
  border-right: 1px dashed grey;
  width: 12%;
  height: 50px;
}

.card-cell4 {
  width: 12%;
}

.para {
  font-family: Barlow;
  font-size: 18 px;
  font-weight: 600;
}

.para-remark {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
}

.card-span {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
}

.para-remark {
  font-family: Barlow;
  font-size: 19px;
  font-weight: 400;
}

.search-container {
  display: flex;
  gap: 40px;
  padding-top: 50px;
}

.search-cont-1 {
  width: 540px !important;
  border-radius: 12px !important;
}

.search-cont-2 {
  width: 240px !important;
  border-radius: 12px !important;
}

.search-field-1 {
  width: 520px !important;
  border-radius: 12px !important;
}

.search-field-2 {
  width: 320px !important;
  border-radius: 12px !important;
}

.searchIcon {
  height: 19px;
  width: 19px;
}

.user-table {
  margin-top: 50px;
  border-top: 1px solid #e6e6e6;
}

.middle-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}

.verify-btn {
  height: 49px;
  width: 325px;
  border: none;
  border-radius: 12px;
  background-color: #ff9559;
  color: white;
  margin-top: 50px;
}

.drawer-container {
  width: 100%;
  margin: 20px;
}
.drawer-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 30px;
}

.drawer-btn {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #f8f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-pic {
  height: 20px;
  width: 20px;
  transform: rotate(180deg);
}

.drawer-tab {
  margin-top: 40px;
}

.tab-btn {
  height: 47px;
  border: none;
  border-radius: 20px;
  background-color: #ff9559;
  color: white;
}

.tab-btn-1 {
  width: 150px;
}

.user-table-1 {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.cross-btn {
  border: none;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  color: white;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
  right: -10px;
  padding-bottom: 5px;
}

.table-container-1 {
  position: relative;
}

.remove-border {
  border: none !important;
}

/* MuiGrid-root MuiGrid-container single-row css-11lq3yg-MuiGrid-root */

/* .MuiGrid-container {
  border: none;
} */

.assign-tab {
  border: 1px solid black;
}

.drawer-tab .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: none;
  background: #f8f7f7;
  margin-right: 17px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #494949;
}

.drawer-tab .css-1aquho2-MuiTabs-indicator {
  background-color: transparent !important;
}

.drawer-tab .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background: #ff9559;
  color: #fff;
}

.drawer-tab .css-8je8zh-MuiTouchRipple-root {
  color: black;
  border-radius: 40px;
  height: 50px;
}

.vacancy-div {
  display: flex;
  flex-direction: column;
  height: 65px;
  border: none;
  width: 110px;
  margin-top: 25px;
  margin-left: 1px;
  background-color: #f8f7f7;
  border-radius: 10px;
  justify-content: center;
  padding-left: 6px;
}

.table-main-container {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.assign-all-btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
}

.assign-all-btn {
  background-color: #ff9559;
  border: none;
  height: 45px;
  width: 135px;
  border-radius: 12px;
  color: white;
  font-size: large;
}

.assign-all-btn:disabled {
  background-color: #f5ad84;
  border: none;
  height: 45px;
  width: 135px;
  border-radius: 12px;
  color: white;
  font-size: large;
}

.modal-head-123 {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cross-btn-1 {
  border: none;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  color: white;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: larger;
}

.modal-body-123 {
  height: 410px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 5px;
  margin: 0px;
  margin-top: 35px;
  padding-bottom: 46px;
}

.modal-1 {
  margin-top: -33px;
  text-align: center;
  font-style: Barlow;
  color: #54595e;
  font-size: 20px;
  line-height: 26px;
}

.modal-2 {
  text-align: center;
  font-style: Barlow;
  color: #54595e99;
}

.modal-3 {
  height: 120px;
}

.modal-4 {
  height: 45px;
}

.modal-5 {
  height: 45px;
  text-align: center;
}

.modal-btn-sure {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #ff9559;
  color: white;
  border-radius: 5px;
}

.modal-btn-cancel {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.modal-textarea {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
  padding-top: 16px;
  padding-left: 16px;
  resize: none;
  outline: none;
}

.textarea-div{
  border: 1px solid #d9d3d3;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.Remark-div{
  border-bottom: 1px dashed #d9d3d3;
  height: 120px;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.textarea-field{
    height: 100%;
    width: 95%;
    resize: none;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.btn-div {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-btn-1 {
  border: none;
  height: 100%;
  background-color: white;
  width: 73%;
  border-right: 20px;
}

.pencil{
  height: 24px;
  width: 24px;
}

.remark-span{
  font-family: Barlow;
  font-size: 14px;
font-weight: 500;
line-height: 14px;
margin-bottom: 5px;
color: #54595E  ;

}