.saral-notify-header{
  display: flex;
  height: 90px !important;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.12);
  align-items: center;
  padding-left: 45px;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1001;
}

.bjp-text{
  color: #5A5A61;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
}

.header-left-part{
  display: flex;
  gap: 25px;
  align-items: center;
  cursor: pointer;
}

.header-right-part{
  display: flex;
  padding-right: 70px;
  gap: 20px;
}

.header-language{
  display: flex;
  gap: 90px;
  width: 200px;
  height: 48px;
  border-radius: 15px;
  border: 1px solid #ECECEC;
  background: rgba(255, 255, 255, 0.30);
  color: var(--gray-3, #828282);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  align-items: center !important;
  justify-content: center !important;
}

.header-right-call{
  display: flex;
  width: 80px;
  height: 48px;
  border-radius: 17px;
  border: 1px solid #ECECEC;
  background: rgba(255, 255, 255, 0.30);
  color: var(--gray-3, #828282);
  stroke-width: 1px;
  align-items: center;
  justify-content: center;
}

.navbar-profile {
  min-width: 12rem;
  display: flex;
  border: 0.5px solid lightgray;
  border-radius: 16px;
  align-items: center;
  height: 2.9rem;

span {
    margin: auto;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #828282;
  }
}

.profile-arrow-svg {
  margin-left: auto;
  margin-right: 0.5rem;
}

.logout-navbar-text{
  width: 120px !important;
}
.logout-navbar{
  top: 11px !important;
}