.hometabs{
    border-bottom: transparent !important;
}
.hometabs .MuiTab-root{
    border-radius: 20px;
    background: #F8F7F7;
    color: #494949;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 0 1rem 1rem 0;
}

.hometabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background: #383737;
    color:#fff;
}

.hometabs .css-1gsv261{
    border-bottom: 1px solid transparent;
}

.hometabs .css-1aquho2-MuiTabs-indicator{
    background-color: transparent
}
button.downloadBtn,button.downloadBtn:hover {
    display: flex;
    padding: 10px 13px 11px 21px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    background: #61BE7A;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.excel-upload {
    border: 2px dashed rgba(0,0,0,0.5) !important;
    border-radius: 12px;
    height: 100% !important;
    padding: 10px;
    text-align: center;
}
.upload-excel-button .css-sghohy-MuiButtonBase-root-MuiButton-root, .upload-excel-button .css-sghohy-MuiButtonBase-root-MuiButton-root:hover  {
    background: #fbfdfe00 !important;
    padding-top: 0;
    box-shadow: none;
    text-align: center;
    color: #000;
}
.alertmessage{
    position: absolute;
    top: 10%;
    right: 3%;
    z-index: 1;
}