#btn-1{
  border-radius: 8px;
  background: var(--Color, #FF9559);
  color: white;
  height:35px;
  width:90px;
  margin:20px;
  border: none;
}
#btn-2{
  border-radius: 8px;
  height:35px;
  width:100px;
  border-width: 1px;
  background-color: white;
}
