$borderColor: #D8D8D8;
$lightorange:#FEE;
$baselight:#FFE8DB;
$border: rgba(0, 0, 0, 0.40);
$lightborder: rgba(0, 0, 0, 0.10);
$blueColor: #366FB3;
$blackcolor: #000;
$blacklight:rgba(0,0,0,0.8);
$reqcolor: #BB0E0F;
$lightwhite: #F5F4F4;
$whiteColor:#fff;
$oultineborder: #d9d9d9;
$checkcolor:#837F7F;
$basicColor:#FF9559;
@mixin btndesign{
  padding: 12px 24px;
  background: ($baselight);
  border: 0.786px solid ($basicColor);
  border-radius: 4.714px;
  color: ($basicColor);
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  position: relative;
  margin-top: -30px;
}
@mixin numberdesign {
  border: 2px solid ($blueColor);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  color: ($blueColor);
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
@mixin texttypography{
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
h5.MuiTypography-root{
  font-weight: 600;
}
.grid-wrap>div{
  margin-bottom: 1rem;
}
.notes{
  background:($lightorange) ;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: ($blackcolor);
}
.detailFrom{


  textarea{
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-top: 6px;
    font-weight: 400;
    background: transparent;

  }

  .checkbox{
    font-size: 12px;
    color: ($checkcolor);
  }
  button.addanotherfieldsbtn{
    border-radius: 8px;
    border: 1px solid ($basicColor);
    padding: 10px 20px 10px 16px;
    color: ($basicColor);
    font-size: 16px;
    background: transparent;
    font-weight: 600;
    margin-top: 1rem;
    box-shadow: none;
    &:hover{
      border: 1px solid ($basicColor);
      color: ($basicColor);
      background: transparent;
    }
  }
}
.detailnumbers{
  @include numberdesign;
}
.addnumber{
  background-color: ($lightwhite);
  border: 2px solid ($lightwhite);
  border-radius: 50%;
  width: 31px;
  height: 31px;
  color: ($blackcolor);
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
}
label.light-circle{
  font-size: 18px;
  font-weight: 600;
}
.addressfields{
  border-bottom:1px solid  ($lightborder);
}
.testright{
  text-align: right;
  label{
    font-size: 16px;
  }

}
.educationforms{
  padding: 22px;
  border-radius: 12px;
  border: 1px solid ($border);
  background: ($whiteColor);
  .MuiGrid-item{
    padding: 0.8rem ;
  }

}
button.save{
  padding: 12px 20px;
  border-radius: 7px;
  background: ($basicColor);
  border: 1px solid ($basicColor);
  color: ($whiteColor);
  &:hover{
    background: ($basicColor);
    border: 1px solid ($basicColor);
    color: ($whiteColor);
  }
}
button.cancelbtn{
  border-radius: 7px;
  border: 1px solid ($oultineborder);
  color: ($oultineborder);
  padding: 10px 18px;
  background: transparent;
  margin-right: 0.8rem;
  box-shadow: none;
  &:hover{
    border: 1px solid ($oultineborder);
    color: ($oultineborder);
    background: transparent;
    box-shadow: none;
  }

}
.css-1i1ubn5-MuiInputBase-root-MuiOutlinedInput-root, .css-1i1ubn5-MuiInputBase-root-MuiOutlinedInput-root:hover, .MuiOutlinedInput-notchedOutline{
  border-color: transparent !important;
}
.MuiInputBase-multiline{
  padding: 0 !important;
}
.datepicker{
  width: 100%;
}
.education-field{
  border-bottom: 1px solid ($border);
}
.custom-file-input {
  background-color: #f0f0f0;
  border: 2px solid #0077cc;
  padding: 8px;
}
.data-table{
  border: 1px solid ($borderColor);
  margin-bottom: 20px;
  border-radius: 15px;
  td,th{
    border-right: 1px solid ($borderColor);
    font-size: 14px;

    &:last-child{
      border-right: none !important;
      display: flex;
    }
  }
  th{
    color: rgba(0,0,0,0.5);
    font-weight:400;
    padding: 14px;
  }
  td{
    font-weight: 600;
    border-top:1px solid ($borderColor);
    padding:10px
  }
  .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
  }
}

.data-table th:last-child {
  border-right: none !important;
}

.language-container {
  display: flex;
  width: 100%;
  height: 3.2rem;
  border: 1px solid grey;
  border-radius: 0.4rem;
  align-items: center;
  padding-left: 1.5rem;
}

.language-selection-container {
  padding: 1rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 8px;
  height: 18rem;
}

.arrow-down-icon {
  margin: auto 1rem auto auto;
}

.language {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 1rem;
  color: darkgray;
  font-weight: 400;
}

.lang-input-box {
  width: 1.5rem;
  height: 1.1rem;
  &:checked {
    background-color: #ffffff;
    color: #000000
  }
}

.lang-input-box:checked {
    background-color: #ffffff;
    color: #000000
}

.languages-list {
  height: 12rem;
  overflow: hidden;
  overflow-y: auto;
}


.languages-list::-webkit-scrollbar {
  width: 0.2rem;
}

.languages-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.rotate-180 {
  rotate: 180deg;
}

.selected-lang {
  display: flex;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 0.4rem;
  gap: 9px;
}

.selected-languages {
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin-top: 10px;
}

.language-selected-buttons {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
}

.lang-btn {
  border: 1px solid lightgray;
  padding: 0.5rem 1.7rem;
  border-radius: 10px;
  color: darkgrey;
  font-weight: 500;
}

.save-btn {
  background: ($basicColor) !important;
  color: #FFFFFF !important;
}

.mobile-fields {
  width: 20rem;
  height: 3.1rem;
  border-radius: 13px;
  border: 1px solid grey;
  background: #ffffff;
  padding-left: 1.2rem;
}

.mt--14rem {
  margin-top: -1.4rem;
}



.mobile-number-field {
  display: grid;
  max-width: 20rem;
}

.mobile-label {
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.mobiles-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  min-height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 1px;
  width: 95rem;
}

.add-delete-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem
}

.primary-number {
  margin-top: -1rem;
}

.delete-button {
  background: rgb(0, 0, 0, 0.07);
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  cursor: pointer;
}

.add-btn {
  gap: 1rem;
  display: flex;
  border: 1px solid ($basicColor);
  color: ($basicColor);
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.css-17ffvgn-MuiTypography-root {
  cursor: pointer;

  font-size: 0.5rem !important;
  padding: 5px!important;
}

.display-contents {
  background: none !important;
  box-shadow: none !important;
}

.edit-button-logo {
  margin-left: auto;
}

.profession-description {
  margin-top: 1rem !important;
}

.profession-description  textarea {
  padding: 1rem !important;
}

.date-na-button {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  color: #837F7F;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  align-items: center;
  text-align: center;
}

.date-na-button-out-side {
  margin: 0.8rem 0rem!important;
}

.na-check-box input {
  align-items: center;
  display: flex;
  width: 1.1rem;
  height: 1.1rem;
}

.na-check-box {
  align-items: center;
  display: flex;
}

.social-affiliation-grid {
  margin-top: 1rem;
}

.organization-grid {
  margin-top: 1.5rem !important;
}

.organization-grid label{
  margin-bottom: 0.5rem;
}

.organization-description-grid {
  margin-top: 1rem;
  display: grid
}

.organization-description-grid label{
  margin-bottom: 0.5rem;
}

.organization-description-grid div {
  width: 45rem;
  height: 8rem;
}

.organization-description-grid textarea {
  height: 100px;
}

.election-contesting-container input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  outline: 1px solid black;
}

.election-contesting-container input[type='radio']:checked {
  background-color: ($basicColor); /* Change the background color when checked */
}

.electoral-matrix-form {
  padding: 22px;
  display: grid !important;
}

.electoral-form-fields {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.websites {
  display: flex;
  width: 240%;
  gap: 4rem;
}

.pdf-upload-div {
  border: 2px dashed #FF9559;
  border-radius: 12px;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
}

.material-icons {
  width: 24px;
}

.upload-button {
  background: #61BE7A;
  border-radius: 12px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  height: 35px;
}

.material-icons {
  width: 24px;
}

.upload-resume-button .css-sghohy-MuiButtonBase-root-MuiButton-root {
  background: #61BE7A !important;
}

.pdf-icon-name {
  display: flex;
  gap: 1rem;
}

.pdf-file-name {
  cursor: pointer;
}