
.buttons-container {
    display: flex;
    gap: 1.3rem;
}

.button-details {
    display: flex;
    gap: 0.8rem;
    font-size: 1rem;
}

.radio-outer-component {
    display: flex;
    padding: 0.29rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
}


.radio-outer-component-active {
    display: flex;
    padding: 0.29rem;
    border: 0.1rem solid #FF9559;
    border-radius: 1rem;
}


.radio-btn-inner-component {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 2.2rem;
    border: 0.1px solid black;
}

.radio-btn-inner-component-active{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 2.2rem;
    background: #FF9559;
    border: 0.1px solid #FF9559;
}

.radio-outer-component-disabled-true {
    border: 0.1px solid darkgray !important;
}

.radio-btn-inner-component-disabled-true {
    background: darkgray !important;
    border: 0.1px solid darkgray !important;
}

.disabled-true {
    border: 0.1px solid darkgray !important;
}