.filterTypeOptions> p > input{
  margin-right: 4%;
  width: 20px;
  height: 15px;
}

.accordian{
  box-shadow: none !important;
}

.filterType{
  color: #343434 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: normal;
  opacity: 0.6 !important;
}

.filterTypeOptions > p{
  color: #343434;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8 !important;
}