.login-wrap{
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}
.inputNumber{
  border-radius: 5px;
  border-color: red;
  width: 100%;
  height: 60px;
}

.inputNumber:focus{
  outline-color: #e50202;
}

.login-design {
  height: 60rem;
  width: 60rem;
  margin-left: -26rem;
}

.login-container {
  overflow-y: clip;
}
.otpBtn, .otpBtn:hover{
  background: #FF9559;
  color: #FFF;
  font-size: 20px;
  border-radius: 16px;
  padding: 1rem;
  font-weight: 600;
}
.login-form h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 3rem !important;
}

.login-form-wrap {
  border-radius: 24px;
  border: 1px solid #FF9559;
  background: #FFF;
  padding: 2rem 3rem;
}
.login-form-wrap h4{
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 0.6rem;
}
.login-image {
  margin-bottom: 4rem;
}
.login-image svg{
  width: 100%;
}
.opt-flields > div{
  justify-content: space-between;
}
.opt-flields input {
  width: 3rem !important;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 0.5rem;
  border-radius: 12px;
}
.resend-button button, .resend-button button:hover{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.179px;
  text-decoration-line: underline;
  text-transform: capitalize;
  background:transparent;
  border:none;
}
.number-filed .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .number-filed .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: #7C7C7C !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.179px;
  background:#fff;
  padding: 0 0.5rem;
}
.login-govt-image{
  position: absolute;
  bottom: -8%;
}
.login-govt-image.left{
  left:-3%
}
.login-govt-image.right{
  right:0
}
@media screen and (max-width: 1499px) {
  .login-govt-image {
    bottom: -15%;
  }
  .login-govt-image svg{
    width: 75%;
  }
  .login-govt-image.right svg {
    width: 457px !important;
    height: 574px !important;
  }
}
@media screen and (max-width: 1366px) {
  .login-govt-image {
    bottom: -28%;
  }
  .login-govt-image svg{
    width: 55%;
  }
  .login-govt-image.right{
    bottom: -5%;
  }
  .login-govt-image.right svg {
    width: 400px !important;
    height: 473px !important;
  }
}
@media screen and (max-width: 1199px) {
  .login-govt-image {
  display: none;
  }
}
