$border: rgba(0, 0, 0, 0.40);
$blackcolor: #000;
select{
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid ($border);
  padding: 18px 10px;
  width: 100%;
  margin-top: 6px;
  font-weight: 400;
  background: transparent;
  option{
    color: ($blackcolor);
  }
}