.allotment-table{
    /*height: 650px;*/
    width: 100%;
    border: 1px solid #E1E0E0 ;
    padding: 20px;
    color: #DEDEDE;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 22px;

}

.search-box{
    height: 50px;
    width: 410px;
    border: 1px solid #E1E0E0;
    color: #E1E0E0;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 20px;


}

.searchIcon{
    height: 19px;
    width: 19px;
}

.allot-searchField{
    height: 48px;
    width: 390px;
    border: none;
    border-radius: 8px;
    outline:none;
}

.allot-download-btn{
    width: 129px;
    height: 37px;
    border: 1px solid #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 8px;

}

.wrap{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table_main{
    margin-top: 17px;
}

/*psu table css*/
.css-1ex1afd-MuiTableCell-root{
    vertical-align: top !important;
}
.psutable_1{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 9px !important;
    box-shadow: none !important ;
}

.psutable_1>table>thead{
    background: #F8F8F8;
}
.psutable_1 td, .psutable th{
    font-size:0.8rem;
    font-weight: 600;
    color: #343434;
}
.psutable_1 th{
    font-weight: 600;
}
.psutable_1 td{
    font-weight: 500;
}
.psutable_1 table>tbody>tr>td, table>tbody>tr{
    width: auto;
}
/*.psutable_1>table>tbody>tr>td{*/
/*    border-right: 1px solid rgba(224, 224, 224, 1);*/
/*    border-bottom: 1px solid rgba(0,0,0,0.6)*/
/*}*/
.psutable_1>table>tbody>tr:last-child td{
    border-bottom: transparent;
}
.psutable_1>table td table td{
    border-right: 1px solid transparent;
    padding: 10px;
}
.psutable_1 .css-13xfq8m-MuiTabPanel-roo{
    padding: 0;
}
/*psu table css end*/

.pageCount{
    color: black !important;
    padding-top: 17px;
}


.assign-button{
    width:70px;
    height: 27px;
    background-color:#FF9559;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
}

.update-button{
    width:70px;
    height: 27px;
    background-color:#065096;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
}